body {
    width: 100%;
}
#detalhesFilme{
    height: 100%;
    width: 100%;
    display: flex;
}
#posterFilme, #tituloFilme{
    width: fit-content;
    display:inline;
    padding-left: 15px;
    padding-right: 15px;
}
.texto-titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
}

