body {
  width: 100%;
  margin: 0;
  background-color: rgb(20, 24, 28);

}
#siteHeader{
  width: 100%;
  height: 60px;
  display: flex;
  align-content: center;
  position: relative;
  box-shadow: 0px 2px 8px black;
}
#pesquisa {
  background-position: 10px 12px;
  background-color: rgb(20, 24, 28);
  border: 0px;
  color: blanchedalmond;
  width: 350px;
  height: 10px;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  box-shadow: inset .1em .1em 6px black;
}

#resultadosPesquisa {
  overflow: auto;
  height: 500px;
  width: 372px;
  list-style-type: none;
  padding: 0;
  display: none;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
}

#resultadosPesquisa li img {
  width: 70px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

#resultadosPesquisa li a {
  margin-top: -1px; 
  background-color: blanchedalmond;
  padding: 20px;
  min-width: 315px;
  max-width: 315px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: flex;
  align-items: flex-start;
}

#resultadosPesquisa li h2 {
  padding-left: 30px;
}

#resultadosPesquisa li a:hover:not(.header) {
  background-color: #eee;
}